/* 去掉底部文字 */
.footer {
  display: none !important;
}

/* 夜间背景 */
.hope-ui-dark {
  background-image: url(https://npm.elemecdn.com/lisir.me-imgs@1.0.3/PC/007.jpg) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
}

/* 白天背景 */
.hope-ui-light {
  background-image: url(https://npm.elemecdn.com/lisir.me-imgs@1.0.3/PC/058.jpg) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
}

/* 主框体样式 */
.hope-c-PJLV-iigjoxS-css {
  background-color: #20242575 !important;
  backdrop-filter: blur(8px) !important;
}
.hope-c-PJLV-igScBhH-css {
  background-color: #ffffff75 !important;
  backdrop-filter: blur(8px) !important;
}

/* Readme框体样式 */
.hope-c-PJLV-iiuDLME-css {
  background-color: #20242575 !important;
  backdrop-filter: blur(8px) !important;
}
.hope-c-PJLV-ikSuVsl-css {
  background-color: #ffffff75 !important;
  backdrop-filter: blur(8px) !important;
}

/* 去除设置按钮 */
.hope-c-PJLV-ibFwXFV-css .hope-c-PJLV:last-child {
  display: none;
}

/* 去除通知栏右上角 X */
.notify-render .hope-close-button {
  display: none;
}

/* 顶部右上角切换按钮透明 */
.hope-c-ivMHWx-hZistB-cv.hope-icon-button {
  background-color: #ffffff00 !important;
}

/* 右下角侧边栏按钮透明 */
.hope-c-PJLV-ijgzmFG-css {
  background-color: #ffffff00 !important;
}

/* 全局字体 */
* {
  font-family: LXGW WenKai;
}
* {
  font-weight: bold;
}
body {
  font-family: LXGW WenKai;
}

/* Markdown代码块圆角 */
.markdown-body pre {
  border-radius: 7.5px !important;
}

/* Markdown图片圆角 */
.markdown-body img {
  border-radius: 10px !important;
}
